header {
    display: flex;
    align-items: center;
}

h1{
    color: rgb(0,0,0,0.8);
    padding: 10px;
}

.profile-pic {
    min-width: 100%;
    border-radius: 10%;
    border: none;
}

body {
    background-color: white;
}

.my-card {
    margin: auto;
    border-radius: 10%;
}

.logo-img{
    width: 50px;
    padding: 5px;
}

.logo-img:hover {
    transform: scale(1.3);
    transition: 0.1s;
}

.logos {
    text-align: center;
}