---
layout: layouts/home.njk
permalink: /gallery/
eleventyNavigation:
  key: Gallery
  order: 4
title: Gallery list
---

<h1>{{title}}</h1>

{% for gallerypost in collections.gallery%}
<p>
    {{gallerypost.data.title}} - <a href="{{gallerypost.url}}">{{gallerypost.url}}</a>
</p>
{%endfor%}
